.NavBar {
    background-color: rgb(53, 51, 51);
    overflow: hidden;
}

.NavBar a {
    float: left;
    background-color: rgb(53, 51, 51);
    display: block;
    padding: 16px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.NavBar a:hover {
    background-color: black;
}

.NavBar-right {
    float: right;
}

.button-sort {
    display: inline-block;
}

.PageBody {
    padding: 40px 5px;
}