@media all and (min-width: 1000px) {
    .text {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media all and (max-width: 999px) {
    .text {
        margin-left: 6%;
        margin-right: 6%;
    }
}

.title {
    text-align:center
}