.NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: rgb(53, 51, 51);
}

.NavBar li {
    float: left;
    background-color: rgb(53, 51, 51) ;
}

.NavBar li a {
    display: block;
    padding: 16px;
    text-align: center;
    overflow: hidden;
    color: white;
    text-decoration: none;
}

.NavBar li a:hover {
    background-color: black;
}

.PageBody {
    padding: 40px 5px;
}